* {
  box-sizing: border-box;
}

:root {
  /* --font-heading: "Sora"; */
  --header-bg: #10375c;
}

html {
  font-size: 62.5%;
}

/* Khôi phục cỡ chữ mặc định */

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

/* ======================== Common ====================== */

.container {
  width: 1170px;
  max-width: calc(100% - 24px);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 205px;
  line-height: 60px;
  border-radius: 30px;
  background: #2e80ce;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
}

.section-heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
}

.section-desc {
  color: #575f66;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
  margin-top: 18px;
}

/* Thuộc tính chung cho 2 nút bấm left/right */
.control {
  display: flex;
  column-gap: 18px;
  align-items: center;
}

/* Thuộc tính chung cho mỗi nút bấm left/right */
.control__btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #575f66;
  background-color: #fff;
  cursor: pointer;
}

.control__btn:hover {
  background-color: #2e80ce;
  color: #fff;
  transition: 0.25s;
}

.control-icon--next {
  rotate: 180deg;
}

/* ======================== Header ====================== */

/* ==== Header top ====  */

.header {
  background: var(--header-bg);
  min-height: 100vh;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.navbar__list {
  display: flex;
}

.header__action--login,
.navbar__link {
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
  padding: 8px 21px;
}

.navbar__link:hover,
.navbar__link--active {
  color: #fff;
  text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  position: relative;
  top: -3px;
  right: 8px;
}

.header__action--login {
  margin-right: 7px;
}

.header__action--signup {
  min-width: 104px;
  line-height: 44px;
  font-size: 1.6rem;
}

.btn:hover {
  opacity: 0.9;
}

/* ==== Hero ==== */

.hero {
  display: flex;
  align-items: center;
  padding-top: 76px;
}

.hero__content {
  width: 44%;
}

.hero__media {
  flex: 1;
}

.hero__heading {
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -1.4px;
}

.hero__desc {
  margin-top: 22px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
}

.hero__row {
  margin-top: 38px;
}

.hero__phone {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
  margin-left: 38px;
}

.hero__images {
  display: flex;
  align-items: center;
  justify-content: end;
}

.hero__img {
  border-radius: 6px;
}

.hero__img--large {
  width: 330px;
  height: 540px;
  z-index: 1;
}

.hero__img--small {
  width: 210px;
  height: 410px;
  position: relative;
  left: -6px;
}

/* ============= Services ===========*/

.service {
  padding: 170px 0;
}

.service__heading {
  text-align: center;
}

.service__desc {
  text-align: center;
  width: 468px;
  margin: 18px auto 0;
}

/* Service row */

.service__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

.service__img {
  width: 570px;
  height: 570px;
  border-radius: 12px;
  object-fit: cover;
}

.service-item {
  width: 470px;
  height: 128px;
  border-radius: 10px;
  display: flex;
  padding: 21px;
}

.service-item:hover {
  position: relative;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service-item__icon {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: #eff6fd;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: 19px;
  transition: 0.5s;
}

.service-item:hover {
  cursor: pointer;
}

.service-item:hover .service-item__icon {
  background: #2e80ce;
  color: white;
}

.service-item__heading {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
}

.service-item__desc {
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}

.service__btn {
  margin-top: 55px;
}

/* ================= Work =============== */

.work {
  padding-bottom: 100px;
  background: #f6fbff;
}

.work__heading {
  padding-top: 100px;
}

.work__desc {
  width: 468px;
}

.work__list {
  margin-top: 86px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

.work-item {
  padding: 43px;
  border-radius: 4px;
  border: 16px solid #eaf6ff;
  background: #fff;
}

.work-item:hover {
  border-color: #2e80ce;
  /* position: relative;
  top: -16px; */
  transform: translateY(-16px);
}

.work-item:hover a {
  color: #2e80ce;
  font-weight: 400;
}

.work-item__heading {
  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38; /* 138.462% */
  margin: 18px 0 28px;
}
.work-item__more,
.work-item__desc {
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}

.work-item__more {
  display: inline-block;
  margin-top: 18px;
}

/* =============== About =============== */

.about__row {
  display: flex;
  justify-content: space-between;
  padding-top: 170px;
}

/* .about__media {
  width: 49%;
} */

.about__img {
  position: relative;
}

.about__img--large {
  width: 512px;
  height: 370px;
  border-radius: 6px;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
}

.about__img--small {
  width: 332px;
  height: 370px;
  border-radius: 6px;
  object-fit: cover;
  position: absolute;
  top: 121px;
  left: 238px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

/* .about-content {
  width: 51%;
} */

.about-content__heading {
  width: 470px;
  margin-top: 82px;
}

.about-content__desc {
  width: 468px;
  margin: 18px 0 38px;
}

/* ================== Team ================ */

.team {
  padding-top: 170px;
}

.team__heading {
  text-align: center;
}

.team-header {
  text-align: center;
}

.team__cta {
  margin-top: 38px;
  margin-bottom: 70px;
}

.team-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  column-gap: 30px;
}

.team-item:hover .team-item__thumb {
  transform: scale(1.1);
  transition: 0.5s;
}

.team-item__thumb {
  height: 290px;
  max-width: 100%;
  object-fit: cover;
  display: block;
}

.team-item__img--bg {
  padding-top: 28px;
  overflow: hidden;
}

.team-item__name {
  color: #10375c;
  text-align: center;
  font-weight: 400;
  line-height: 1.75; /* 175% */
  margin-top: 12px;
}

.team-item__desc {
  color: #575f66;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.86; /* 185.714% */
}

.team__control {
  margin-top: 38px;
  justify-content: center;
}

/* =================== Install ================ */

.install {
  padding-top: 170px;
}

.install__inner {
  height: 427px;
  border-radius: 4px;
  background: #2e80ce;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
  position: relative;
}

.install__img {
  width: 284px;
  height: 522px;
  object-fit: cover;
  position: absolute;
  bottom: 0;
}

.install__content {
  min-width: 586px;
}

.install__heading {
  max-width: 489px;
  color: #fff;
}

.install__desc {
  width: 586px;
  color: #fff;
}

.install__row {
  display: flex;
  column-gap: 28px;
}

.install__btn-img {
  margin-top: 38px;
}

/* ================= Blog ================= */

.blog {
  padding-top: 170px;
}

.blog__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog__content {
  width: 40%;
}

.blog__heading {
  width: 470px;
}

.blog__more {
  display: inline-block;
  padding: 28px 0;
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.55; /* 155.556% */
  text-decoration-line: underline;
}

.blog__list {
  display: flex;
  column-gap: 30px;
}

.blog-item {
  width: 270px;
  height: 375px;
  border-radius: 12px;
  border: 1px solid #e8ebee;
  background: #fff;
  overflow: hidden;
  transition: 0.5s;
}

.blog-item:hover {
  border: transparent;
  box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
}

.blog-item__wrap {
  height: 172px;
  overflow: hidden;
}

.blog-item__thumb {
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
  transition: 0.25s;
}

.blog-item:hover .blog-item__thumb {
  transform: scale(1.1);
}

.blog-item__body {
  padding: 18px 22px;
}

.blog-item__heading {
  width: 224px;
  color: #10375c;
  font-weight: 600;
  line-height: 1.62; /* 162.5% */
}

.blog-item__desc {
  width: 226px;
  color: #575f66;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.71; /* 171.429% */
  margin: 10px 0 12px;
}

.blog-item__more {
  display: inline-block;
  color: #10375c;
  font-size: 1.4rem;
  font-weight: 400;
}

.blog-item__more:hover {
  color: #2E80CE;
}
